.env
/rfc
/reference
/data
node_modules

.opencode/*
!.opencode/config/
.opencode/config/*
!.opencode/config/opencode.json
!.opencode/share/
.opencode/share/*
!.opencode/share/.gitkeep
!.opencode/state/
.opencode/state/*
!.opencode/state/kv.json

.claude/*
!.claude/skills